.navbar-logo {
  width: 100%;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 0;
  left: 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
  z-index: 1000;
  background-color: green;
}

.navbar-left img {
  width: 12rem;
  border-radius: 10rem;
}

@media screen and (max-width: 46rem) {
  .navbar-left img {
    width: 10rem;
  }
}

@media screen and (max-width: 37.75rem) {
  .navbar-logo {
    flex-direction: column;
    align-items: center;
  }
}

.nav-items ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 46rem) {
  .nav-items ul {
    gap: 2rem;
  }
}

@media screen and (max-width: 32rem) {
  .nav-items ul {
    gap: 1rem;
  }

  .nav-items ul li {
    font-size: 1.5rem;
  }
}

.nav-items ul li {
  list-style: none;
  font-size: 2rem;
  font-weight: 800;
}

.nav-items ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.nav-items ul li a:hover {
  color: wheat;
}
