.about-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  gap: 2rem;
}

.about-left {
  flex: 1.5;
  max-width: 60rem;
  margin-left: 2rem;
}

.about-heading {
  font-style: italic;
  color: green;
  font-size: 3rem;
  line-height: 2;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.about-subheading {
  margin-top: 1rem;
  font-size: 4rem;
  color: black;
  text-align: center;
}

.about-text {
  font-size: 1.8rem;
  text-align: justify;
  line-height: 1.6;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.about-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.experience,
.master-chef,
.happy-customers {
  display: flex;
  gap: 2rem;
  align-items: center;
  text-align: center;
  background: #f8f8f8;
  padding: 2rem;
  border-radius: 1rem;
  width: 35rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.num {
  font-size: 3rem;
  font-weight: bold;
  color: green;
}

.text1 {
  font-size: 2rem;
  font-weight: 600;
  color: #333;
  padding: 2rem;
}

.text2 {
  font-size: 1.6rem;
  color: #777;
}

@media (max-width: 1024px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-left,
  .about-right {
    max-width: 100%;
  }

  .about-text {
    text-align: center;
  }
}
